@use "sass:math";

// px to rem
$base-font-size-small: 12px;
$base-font-size-medium: 14px;
$base-font-size-large: 16px;

$small-viewport: 480px;
$medium-viewport: 768px;
$large-viewport: 1280px;

@function rem($value) {
    $remValue: calc($value / 16px);
    @return $remValue + rem;
}

html{
    font-size: $base-font-size-large;

    @media (max-width: $medium-viewport) {
        font-size: $base-font-size-medium;
    }
    
    @media (max-width: $small-viewport) {
        font-size: $base-font-size-small;
    }
}